.App {
  text-align: center;
  background-image: url("./images/background.jpg");
  color: white;
}

ul {
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
}

#nav-text {
  text-decoration: none;
  color:rgb(218, 91, 196);
}

#headshot {
  width: 125px;
  height: 125px;
}

#project {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

#card{
  width: 200px;
  padding: 20px;
}

#card-title {
  font-size: 20px;
  font-weight: bold;
}

#card-image {
  width: 100px;
  height: 100px;
}