body {
  text-align: center;
  background-image: url("./images/background.jpg");
  color: white;
}

#nav-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

#nav-text {
  text-decoration: none;
  color: white;
}

#nav-text:hover {
  font-weight: bold;
  color:rgb(218, 91, 196);
}

#about {
  display: block;
  justify-content: center;
  margin: 10px;
}

#headshot {
  width: 300px;
  height: 400px;
}

#about-text {
  margin: auto;
  padding: auto;
  max-width: 600px;
}

#link-text {
  text-decoration: none;
  color: aqua;
}

#link-text:hover {
  font-weight: bold;
  color:rgb(218, 91, 196);
}

#tech {
  width: 200px;
  margin: auto;
  padding: auto;
  text-align: left;
}

ul {
  list-style: circle;
}

#tech-title {
  font-size: 20px;
  font-weight: bold;
}

#project {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: auto;
}

.card{
  position: relative;
  width: 250px;
  height: 250px;
  list-style: none;
  padding: 20px;
}

#card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-text {
  position: absolute;
  top: 50px;
  left: 30px;
  width: 200px;
  visibility: hidden;
  opacity: 0;
}

#card-image {
  width: 250px;
  height: 250px;
}

.card:hover #card-image {
  opacity: 30%;
}

.card:hover .card-text {
  visibility: visible;
  opacity: 1;
}

#card-icon {
  padding: 20px;
  color: aqua;
}

#card-icon:hover {
  color:rgb(218, 91, 196);
}

#footer {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

#icon1 {
  color: aqua;
}

#icon2 {
  padding-left: 30px;
  color: aqua;
}

#icon3 {
  padding-left: 30px;
  color: aqua;
}

#icon1:hover {
  color:rgb(218, 91, 196);
}

#icon2:hover {
  color:rgb(218, 91, 196);
}

#icon3:hover {
  color:rgb(218, 91, 196);
}

#input-text {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

#submit-btn {
  border: none;
  outline: none;
  background-color: aqua;
  cursor: pointer;
  border-radius: 10px;
  width: 90px;
  padding: 6px;
  font-weight: bold;
  font-size: 16px;
}

#submit-btn:hover {
  background-color:rgb(218, 91, 196);
}